log/
log_backup/
data/
# data/Anaheim_backup
# data/BerlinCenter
# data/Birmingham
# data/GoldCoast
# data/Philadelphia
# data/Sydney
# data/Chicago
models/
output/
figures/
src/traffic_assignment_backup.jl